<%= form_with model: @comment, url: user_post_comments_path(current_user.id, post.id), scope: :comment, local: true do |form| %>
  <div class="field">
    <%= form.text_field :content, placeholder: 'Add a comment...' %>

  <div class="actions">
    <%= form.submit 'Add comment' %>
  </div>
  </div>
<% end %>


