<div class="d-flex justify-content-between p-5">
<% if user_signed_in? && current_user.id == @user.id%>
	<div>
		<%= render template: 'posts/new'%>
	</div>
	<div>
		<%= image_tag @user.avatar %>
		<br>
		<br>
		<%#=button_to 'Follow me', user_following_path(@user) %>
	</div>
	<%end%>
</div>
<br>
<div class="d-flex flex-column align-items-center">

	<div class="container">
	<% if @posts.present? %>
	<% @posts.each do |post| %>
	<%= post.user.name %>
	<% if post.images.attached? %>
	<br>
	<% if post.images.size > 1 %>
		<div class="row">
			<div class="col-3">
					<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<% post.images.each do |image| %>
							<% end %>
						</ol>

						<div class="carousel-inner">
							<div class="carousel-item active">
								<%= link_to image_tag(post.images.first, size: 250), post_path(post), class: "d-block w-100" %>
							</div>
							<% post.images.drop(1).each do |image| %>
							<div class="carousel-item">
								<%= link_to image_tag(image, size: 250), post_path(post), class: "d-block w-100" %>
							</div>
							<% end %>
						</div>
						<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>

				<% else %>
				<% post.images.each do |image| %>
						<%= link_to image_tag(image, size: 250), post_path(post) %>
				<% end %>
				<% end %>
				<% end %>

				<br>
				-----------------------------------------------
				<br>
				<br>
				<% if user_signed_in? && current_user.id == @user.id %>
				<% if post.likes.exists?(post.likes.where(user_id: current_user.id)) %>
				
				<%=link_to 'dislike', user_dislike_path(current_user.id, post.id), method: :delete %>
				<%else%>
				<%=link_to 'like', user_like_path(current_user.id, post.id) %>
				<br>
				<%= pluralize(post.likes.count, "like") %>
				<%end%>
				<%end%>

				<br>
				<br>
				<%= post.user.name%>:
				<%= post.description %>
				<br>
				<% post.comments.each do |comment| %>
				<%= comment.user.name%> said:
				<%= comment.content%>
				<br>
				<%end%>
				<br>
				<%= render 'comments/new', post: post if user_signed_in? %>

				<% end %>	
				<% end %>
				<br>
			</div>
		</div>
	</div>
</div>
				</div>
