<%= form_for [@user, @user.posts.build], local: true do |form| %>
  <div class="field">
    <%= form.label 'Description of post' %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
