<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @post.description %>
  <% @post.images.each do |image| %>
  <%= image_tag image %>
  <% end %>
</p>

<%= link_to 'Back', posts_path %>